<div class="col-sm-6">
	<form>
		<div class="col">
			<label for="exampleInputEmail1">Marque</label>
            {{ knp_pagination_sortable(cars, 'Marque', 'cars.brand') }}
		</div>
		<div class="col">
			<label for="exampleInputEmail1">Kilomètre</label>
			<input type="text" class="form-control" placeholder="Last name">
			<input type="text" class="form-control" placeholder="First name">
		</div>
	</form>
</div>
<div class="col-sm-6">
	<form>
		<div class="col">
			<label for="exampleInputEmail1">Année</label>
			<input type="text" class="form-control" placeholder="First name">
			<input type="text" class="form-control" placeholder="First name">
		</div>
		<div class="col">
			<label for="exampleInputEmail1">Kilomètre</label>
			<input type="text" class="form-control" placeholder="Last name">
			<input type="text" class="form-control" placeholder="First name">
		</div>
	</form>
</div>
