{% extends "base.html.twig" %}

{% block title %}Garage Parrot - Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<main class="site-main main mt-5">
			<div class="text-center background mb-4">
				<div class="container-fluid py-5">
					<h1 class="titreAccueil display-5 fw-bold">Garage V. Parrot</h1>
					<p class="titreAccueil fs-4">Un garage familiale au service de ses clients</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 text-center">
						<h3 class="text-center text-bold">Nos différents services</h3>
						<div class="col-md-6 offset-md-3">
							<hr><br>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-4 text-center">
						<div class="card" style="width: 18rem;">
							<img src="images/reparation_carrosserie.jpg" class="card-img-top" alt="Réparation de la carrosserie">
							<div class="card-body">
								<h5 class="card-title">Réparation de la carrosserie</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4 text-center">
						<div class="card" style="width: 18rem;">
							<img src="images/reparation_moteur.jpg" class="card-img-top" alt="Réparation mécanique">
							<div class="card-body">
								<h5 class="card-title">Réparation mécanique</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4 text-center">
						<div class="card" style="width: 18rem;">
							<img src="images/entretien_regulier.jpg" class="card-img-top" alt="Entretien régulier">
							<div class="card-body">
								<h5 class="card-title">Entretien régulier</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
