{% extends 'base.html.twig' %}

{% block title %}Gge Parrot - Connexion
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Connexion</h1>
			<p class="titrePages fs-4"></p>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}
	<form action="{{ path('security.login') }}" method="post" name="login" class="col-md-5">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="form-group mt-4">
			<label for="username" class="form-label mt-4">Adresse email</label>
			<input type="email" class="form-control" id="username" name="_username" placeholder="exemple@garage-parrot.fr" value="{{ last_username }}">
		</div>
		<div class="form-group mt-4">
			<label for="password">Mot de passe</label>
			<input type="password" name="_password" id="password" class="form-control" required>
		</div>

		<button class="btn btn-primary mt-4" type="submit">
			Connexion
		</button>
	</form>

{% endblock %}
